@charset "UTF-8";
body {margin: 0;}
*::focus {outline:none !important}
img {width: 100px;}
section {width: 500px; margin: 0 calc((100% - 500px) / 2); margin-top: 10px;}
section::after {display: table; content: ""; clear: both;}
img, div {width: 100px; height: 100px; float: left; cursor: pointer;}
div {background-color: #3a2f2f;}
button {width: 100%; height:50px; border: 0; cursor: pointer;}
button:active {background-color: #91b3bb;}
